Repository theforeman/smart-proxy, pull requests merged in 2018-07, with the labels that each got.

#594 Bump version to 1.20-develop
  CHANGELOG
  Contributors
  VERSION
Labels: Needs testing, Waiting on contributor

#595 Release 1.19.0-RC1
  CHANGELOG
  Contributors
  VERSION
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#596 Fixes #24364 - non-ascii logs are readable now
  lib/proxy/log_buffer/decorator.rb
  test/log_buffer/decorator_test.rb
Labels: Needs testing
